

/* General Page Styling */
body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}

/* The Main Card Container */
.business-card {
  width: 300px;
  background-color: white; /* You can change this color */
  padding: 20px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
}

/* Image Responsiveness */
.profile-image {
  max-width: 100%;
}



/* Paragraph Spacing */
p {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Link Decoration */
a {
  text-decoration: none;
}



